.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem{
    flex: 1;
    margin: 10px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 0px 9px 2px rgba(85,85,85,0.5);
    -webkit-box-shadow: 3px 0px 9px 2px rgba(85,85,85,0.5);
    -moz-box-shadow: 3px 0px 9px 2px rgba(85,85,85,0.5);
}

.featuredTitle{
    font-size: 20px;
    text-transform: capitalize;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
    text-transform: capitalize;
}