.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 0px 9px 2px rgba(85,85,85,0.5);
    -webkit-box-shadow: 3px 0px 9px 2px rgba(85,85,85,0.5);
    -moz-box-shadow: 3px 0px 9px 2px rgba(85,85,85,0.5);
}

.chartTitle{
    margin-bottom: 20px;
}