.newProduct{
    flex: 6;
}
.addProductForm{
    margin-top: 10px;

}

.addProductItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 250px;
}

.addProductItem>label{
    font-weight: 600;
    color: gray;
    margin-bottom: 10px;
}

.addProductItem>input{
    padding: 10px;

}

.addProductItem>select{
    padding: 10px;
}

.addProductButton{
    color: white;
    background-color: darkblue;
    margin-top: 10px;
    padding:10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}